In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import tushare as ts
import talib as ta
import pandas.util.testing as tm

In [2]:
tm.N=5
df = tm.makeTimeDataFrame()
np.asarray(df.columns).repeat(3)
np.tile(df.index,(3,1)).flatten()

array(['2000-01-03T00:00:00.000000000', '2000-01-04T00:00:00.000000000',
       '2000-01-05T00:00:00.000000000', '2000-01-06T00:00:00.000000000',
       '2000-01-07T00:00:00.000000000', '2000-01-03T00:00:00.000000000',
       '2000-01-04T00:00:00.000000000', '2000-01-05T00:00:00.000000000',
       '2000-01-06T00:00:00.000000000', '2000-01-07T00:00:00.000000000',
       '2000-01-03T00:00:00.000000000', '2000-01-04T00:00:00.000000000',
       '2000-01-05T00:00:00.000000000', '2000-01-06T00:00:00.000000000',
       '2000-01-07T00:00:00.000000000'], dtype='datetime64[ns]')

In [3]:
def unpivot(frame):
    N, K = frame.shape
    data = {'value': frame.to_numpy().ravel('F'),
            'variable': np.asarray(frame.columns).repeat(N),
            'date': np.tile(np.asarray(frame.index), K)}
    return pd.DataFrame(data, columns=['date', 'variable', 'value'])

ddf=tm.makeTimeDataFrame()
df = unpivot(ddf)
print ddf
# a=df.to_numpy()
# print a.ravel('C')
# print a.ravel('F')
# print a.ravel('A')
# print a.ravel('K')
df[df['variable']=='A']

                   A         B         C         D
2000-01-03 -1.166453 -0.608588 -0.570124 -1.420567
2000-01-04  0.734408 -0.243433  0.676961 -1.017439
2000-01-05 -0.588045 -0.364831  0.579969  1.960473
2000-01-06 -0.137850  0.333080  0.067906 -0.788586
2000-01-07  2.073478 -0.618658  0.735629 -1.310066

        date variable     value
0 2000-01-03        A -1.166453
1 2000-01-04        A  0.734408
2 2000-01-05        A -0.588045
3 2000-01-06        A -0.137850
4 2000-01-07        A  2.073478

In [4]:
df.pivot(index='date',columns='variable',values='value')

variable           A         B         C         D
date
2000-01-03 -1.166453 -0.608588 -0.570124 -1.420567
2000-01-04  0.734408 -0.243433  0.676961 -1.017439
2000-01-05 -0.588045 -0.364831  0.579969  1.960473
2000-01-06 -0.137850  0.333080  0.067906 -0.788586
2000-01-07  2.073478 -0.618658  0.735629 -1.310066

In [5]:
df['value2']=df['value']*2

In [6]:
pdf =df.pivot(index='date',columns='variable',values='value')

In [7]:
pdf.stack()

date        variable
2000-01-03  A          -1.166453
            B          -0.608588
            C          -0.570124
            D          -1.420567
2000-01-04  A           0.734408
            B          -0.243433
            C           0.676961
            D          -1.017439
2000-01-05  A          -0.588045
            B          -0.364831
            C           0.579969
            D           1.960473
2000-01-06  A          -0.137850
            B           0.333080
            C           0.067906
            D          -0.788586
2000-01-07  A           2.073478
            B          -0.618658
            C           0.735629
            D          -1.310066
dtype: float64

In [8]:
pdf.stack().unstack(0)

date      2000-01-03  2000-01-04  2000-01-05  2000-01-06  2000-01-07
variable
A          -1.166453    0.734408   -0.588045   -0.137850    2.073478
B          -0.608588   -0.243433   -0.364831    0.333080   -0.618658
C          -0.570124    0.676961    0.579969    0.067906    0.735629
D          -1.420567   -1.017439    1.960473   -0.788586   -1.310066

In [9]:
columns = pd.MultiIndex.from_tuples([('A', 'cat'), ('B', 'dog'),
                                     ('B', 'cat'), ('A', 'dog')],
                                    names=['exp', 'animal'])


index = pd.MultiIndex.from_product([('bar', 'baz', 'foo', 'qux'),
                                    ('one', 'two')],
                                   names=['first', 'second'])


df = pd.DataFrame(np.random.randn(8, 4), index=index, columns=columns)

In [10]:
df

exp                  A         B                   A
animal             cat       dog       cat       dog
first second
bar   one     1.194152  1.190003  0.284197  0.234990
      two     1.570925  2.875092 -0.202166 -1.158233
baz   one    -0.283158  0.715107  0.294382  0.388933
      two     0.135877 -0.675227  0.338014 -0.002869
foo   one    -1.543733  1.262670  1.144078 -0.598682
      two     0.880649  1.605390  1.905638  1.195459
qux   one    -0.870302  0.858279  1.103855 -0.408444
      two     1.017530  1.337150 -1.238638  0.612551

In [11]:
df2 = df.iloc[[0, 1, 2, 4, 5, 7]]
print df2

exp                  A         B                   A
animal             cat       dog       cat       dog
first second
bar   one     1.194152  1.190003  0.284197  0.234990
      two     1.570925  2.875092 -0.202166 -1.158233
baz   one    -0.283158  0.715107  0.294382  0.388933
foo   one    -1.543733  1.262670  1.144078 -0.598682
      two     0.880649  1.605390  1.905638  1.195459
qux   two     1.017530  1.337150 -1.238638  0.612551

In [12]:
df2.stack(['exp','animal'])

first  second  exp  animal
bar    one     A    cat       1.194152
                    dog       0.234990
               B    cat       0.284197
                    dog       1.190003
       two     A    cat       1.570925
                    dog      -1.158233
               B    cat      -0.202166
                    dog       2.875092
baz    one     A    cat      -0.283158
                    dog       0.388933
               B    cat       0.294382
                    dog       0.715107
foo    one     A    cat      -1.543733
                    dog      -0.598682
               B    cat       1.144078
                    dog       1.262670
       two     A    cat       0.880649
                    dog       1.195459
               B    cat       1.905638
                    dog       1.605390
qux    two     A    cat       1.017530
                    dog       0.612551
               B    cat      -1.238638
                    dog       1.337150
dtype: float64

In [13]:
df2.unstack(0)
df.stack()

exp                         A         B
first second animal
bar   one    cat     1.194152  0.284197
             dog     0.234990  1.190003
      two    cat     1.570925 -0.202166
             dog    -1.158233  2.875092
baz   one    cat    -0.283158  0.294382
             dog     0.388933  0.715107
      two    cat     0.135877  0.338014
             dog    -0.002869 -0.675227
foo   one    cat    -1.543733  1.144078
             dog    -0.598682  1.262670
      two    cat     0.880649  1.905638
             dog     1.195459  1.605390
qux   one    cat    -0.870302  1.103855
             dog    -0.408444  0.858279
      two    cat     1.017530 -1.238638
             dog     0.612551  1.337150

In [14]:
df.columns

MultiIndex(levels=[[u'A', u'B'], [u'cat', u'dog']],
           codes=[[0, 1, 1, 0], [0, 1, 0, 1]],
           names=[u'exp', u'animal'])

In [15]:
df.groupby(level=1,axis=1).mean()

animal             cat       dog
first second
bar   one     0.739175  0.712497
      two     0.684380  0.858429
baz   one     0.005612  0.552020
      two     0.236945 -0.339048
foo   one    -0.199827  0.331994
      two     1.393144  1.400424
qux   one     0.116777  0.224917
      two    -0.110554  0.974851

In [16]:
df = pd.read_csv("czk.mat.txt",delimiter="|")

In [17]:
# plt.scatter(df['pph'],df['sent'])
np.arange(15).reshape(3,5).data

In [18]:
sdf=ts.get_k_data('600438')

In [19]:
sdf.columns
sdf.set_index('date')

              open   close    high     low     volume    code
date
2017-01-12   6.049   6.039   6.088   6.010    57142.0  600438
2017-01-13   6.088   6.039   6.088   5.816   208629.0  600438
2017-01-16   6.010   6.127   6.166   5.835   322505.0  600438
2017-01-17   6.039   6.127   6.156   6.010    58487.0  600438
2017-01-18   6.146   6.029   6.146   6.010    55206.0  600438
2017-01-19   6.029   5.952   6.029   5.923    53740.0  600438
2017-01-20   5.961   6.020   6.039   5.913   103720.0  600438
2017-01-23   6.107   6.078   6.146   6.039    56145.0  600438
2017-01-24   6.078   6.010   6.098   5.991    58217.0  600438
2017-01-25   5.991   6.020   6.049   5.971    27080.0  600438
2017-01-26   6.020   6.059   6.068   6.020    32418.0  600438
2017-02-03   6.059   5.991   6.078   5.981    43256.0  600438
2017-02-06   6.020   6.039   6.059   5.991    70211.0  600438
2017-02-07   6.039   5.991   6.039   5.961    58430.0  600438
2017-02-08   6.000   6.020   6.020   5.932    76897.0  600438
2017-02-09   6.029   6.039   6.049   5.991    78640.0  600438
2017-02-10   6.049   6.059   6.068   6.020    83373.0  600438
2017-02-13   6.059   6.068   6.078   6.029    92747.0  600438
2017-02-14   6.059   6.010   6.059   5.981    80999.0  600438
2017-02-15   6.010   5.961   6.020   5.932    84835.0  600438
2017-02-16   5.952   5.961   5.981   5.932    60923.0  600438
2017-02-17   5.942   5.884   5.961   5.874   103974.0  600438
2017-02-20   5.884   5.923   5.952   5.874    71952.0  600438
2017-02-21   5.942   5.942   5.952   5.903    95203.0  600438
2017-02-22   5.942   6.049   6.059   5.923   140865.0  600438
2017-02-23   6.059   6.020   6.068   5.991    72379.0  600438
2017-02-24   6.020   6.068   6.098   6.000   107367.0  600438
2017-02-27   6.078   6.000   6.127   5.981   101788.0  600438
2017-02-28   6.000   6.039   6.039   5.991    58621.0  600438
2017-03-01   6.029   6.010   6.049   6.000    86232.0  600438
...            ...     ...     ...     ...        ...     ...
2019-07-18  13.800  13.690  13.970  13.600   384536.0  600438
2019-07-19  13.670  13.600  13.960  13.560   236166.0  600438
2019-07-22  13.690  13.450  13.720  13.330   123226.0  600438
2019-07-23  13.480  14.050  14.130  13.360   368080.0  600438
2019-07-24  14.170  14.130  14.310  13.940   252754.0  600438
2019-07-25  14.060  14.250  14.370  13.830   351709.0  600438
2019-07-26  14.050  14.250  14.460  13.970   293360.0  600438
2019-07-29  14.140  14.790  14.930  14.140   361212.0  600438
2019-07-30  14.870  14.590  14.910  14.550   241423.0  600438
2019-07-31  14.560  14.560  14.790  14.490   164145.0  600438
2019-08-01  14.450  14.440  14.650  14.310   217707.0  600438
2019-08-02  13.890  14.140  14.290  13.890   187807.0  600438
2019-08-05  14.210  13.750  14.340  13.750   191482.0  600438
2019-08-06  13.680  13.300  13.680  13.090   304159.0  600438
2019-08-07  13.540  13.230  13.660  13.220   215587.0  600438
2019-08-08  13.280  13.120  13.470  13.040   265698.0  600438
2019-08-09  13.230  13.200  13.440  13.030   229143.0  600438
2019-08-12  13.210  13.000  13.360  12.910   340079.0  600438
2019-08-13  13.020  12.800  13.260  12.650   295205.0  600438
2019-08-14  12.900  12.800  13.100  12.540   354675.0  600438
2019-08-15  12.550  13.020  13.130  12.370   430404.0  600438
2019-08-16  13.000  12.980  13.250  12.780   358831.0  600438
2019-08-19  13.120  13.190  13.450  12.880   440549.0  600438
2019-08-20  13.230  13.700  13.770  13.200   425146.0  600438
2019-08-21  13.600  15.070  15.070  13.600  1092144.0  600438
2019-08-22  15.090  14.950  15.410  14.800   604411.0  600438
2019-08-23  15.100  14.830  15.200  14.710   280238.0  600438
2019-08-26  14.650  14.540  14.750  14.430   312102.0  600438
2019-08-27  14.700  14.900  15.050  14.600   384237.0  600438
2019-08-28  14.840  15.180  15.330  14.760   438945.0  600438

[641 rows x 6 columns]

In [20]:
m,sig,hist = ta.MACD(sdf['close'])

In [23]:
sdf['sig']=sig

In [33]:
sdf['sig'].tail()

636   -0.140939
637   -0.087297
638   -0.036920
639    0.014599
640    0.068566
Name: sig, dtype: float64